<nav class="nosotros">
    <h1 class="titulo">Nosotros</h1>
    <h2 class="subtitulo">Sobre crown</h2>
    <p class="parrafo">Crown es nuestra presentación para el proyecto final de la asignatura Ingeniería Web impartido por la 
    Dra. Sandra Cano Mazuera, las encargadas de desarrollar este proyecto son María Gabriela Castro Almendra,
    Karina Noemí Matamala Palta y Karina Andrea Rozas Romo. Desarrollamos el presente proyecto con Visual Studio Code
    y un repositorio en GitHub para poder facilitar la tarea de trabajar colaborativamente. Utilizamos como inspiración 
    para la parte de Frontend el sitio web de bananarepublic.com, además de ocupar un logo perteneciente a Vecteezy.com</p>

</nav>
