<div class=contenedor>
  <!--Este es el titulo-->
    <h1 class=titulo>Inicio de sesion</h1>
  <!--Este es el logo-->
    <img id="imagen" src="./assets/icono.jpg">
  <!--Aqui esta el formulario del inicio de sesion-->
    <form class=formulario> 
      <!--Este div es el de usuario-->
        <div class="form-group">
          <label for="Usuario" class=texto >Usuario</label>
          <input type="email" class="form-control" id="Usuario" aria-describedby="emailHelp" placeholder="Usuario">
          
        </div>
      <!--Este div es el de contraseña-->
        <div class="form-group">
          <label for="contraseña" class="texto">Contraseña</label>
          <input type="password" class="form-control" id="contraseña" placeholder="contraseña">
        </div>
        <div class="form-group">
        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (success)="validacion($event)"></ngx-recaptcha2>
       </div>

      <!--Este es el boton c:-->  
        <button type="submit" class="btn btn-primary">Acceder</button>
    </form>
</div>
