<nav class="footer">
    <ul  class="lista">
        <li>
            <a class="letras">ACERCA DE CROWN</a>
            <ul class="listaSecundaria">
                <li class="letras">Quienes Somos</li>
                <li class="letras">Trabaja con nosotros</li>
                <li class="letras">Contacto</li>
            </ul>
        </li>
        <li>
            <a class="letras">NUESTRAS REDES</a>
            <ul class="listaSecundaria">
                <li class="letras">Facebook</li>
                <li class="letras">Twitter</li>
                <li class="letras">Instagram</li>
            </ul>
        </li>
        <li>
            <a class="letras">DÓNDE ESTAMOS</a>
            <ul class="listaSecundaria">
                <li class="letras">Mall Buin</li>
                <li class="letras">Mall Macul</li>
                <li class="letras">Mall Quillota</li>
                <!--Estos mall no existen en la vida real, las ciudades puestas son en referencia a 
                donde vivimos cada una K.Matamala(Buin), K.Rozas(Macul) y M.G.Castro(Quillota)-->
            </ul>
        </li>
        <li>
            <a class="letras">SERVICIO AL CLIENTE</a>
            <ul class="listaSecundaria">
                <li class="letras">Formulario de Contacto</li>
                <li class="letras">Horario de nuestras tiendas</li>
            </ul>
        </li>
        <li>
            <div id="logo">
                <img id="imagen" src="./assets/icono.jpg">  
            </div>
        </li>
    </ul>
</nav>
