<nav class="footer">
    <ul  class="lista">
        <li>
            <ul class="listaSecundaria">
                <li class="titulo">ACERCA DE CROWN</li>
                <a [routerLink]="['/nosotros']" routerLinkActive="router-link-active"><li class="letras">Quienes Somos</li></a>
                <li class="letras">Trabaja con nosotros</li>
            </ul>
        </li>
        <li>
            <ul class="listaSecundaria">
                <li class="titulo">NUESTRAS REDES</li>
                <li class="letras">Facebook</li>
                <li class="letras">Twitter</li>
                <li class="letras">Instagram</li>
            </ul>
        </li>
        <li>
            <ul class="listaSecundaria">
                <li class="titulo">DONDE ESTAMOS</li>
                <li class="letras">Mall Buin</li>
                <li class="letras">Mall Macul</li>
                <li class="letras">Mall Quillota</li>
                <!--Estos mall no existen en la vida real, las ciudades puestas son en referencia a 
                donde vivimos cada una K.Matamala(Buin), K.Rozas(Macul) y M.G.Castro(Quillota)-->
            </ul>
        </li>
        <li>
            <ul class="listaSecundaria">
                <li class="titulo">SERVICIO AL CLIENTE</li>
                <a [routerLink]="['/contacto']" routerLinkActive="router-link-active"><li class="letras">Formulario de Contacto</li></a>
                <li class="letras">Horario de nuestras tiendas</li>
            </ul>
        </li>
        <li>
            <div id="logo">
                <img id="imagen" src="./assets/icono.jpg">  
            </div>
        </li>
    </ul>
    <a>
        <div class="copyright">
            © Copyright María Gabriela Castro Almendra - Karina Noemí Matamala Palta - Karina Andrea Rozas Romo
        </div>
    </a>
</nav>
