<div class="contenedor">   
    <!--Este es el formulario de contacto-->
    <form class="formulario" id="formulario" [formGroup]="formulario" (ngSubmit)="save($event)">
        <!--Este es el titulo-->
        <div class="form-group">
            <h1 class="titulo">Formulario de registro</h1>
        </div>
        <h2>{{mensaje}}</h2>
        <br>
        <!--Nombres del cliente-->
        <div class="form-group">
            <label for="nombres">Nombres</label>
            <input type="text" id="nombres" formControlName="nombres" placeholder="Juanito">
        </div>
        <!--Apellidos del cliente-->
        <div class="form-group">
            <label for="apellidos">Apellidos</label><br>
            <input type="text" id="apellidos" formControlName="apellidos" placeholder="De los Palotes">
        </div>
        <!--Aqui va el correo del usuario-->
        <div class="form-group">
            <label for="correo">Correo electronico</label>
            <input type="email" formControlName="correo" placeholder="example@mail.com">
        </div>
        <!--RUT del cliente-->
        <div class="form-group">
            <label for="rut">RUT (Formato: Sin puntos y con guión)</label><br>
            <input type="text" id="rut" formControlName="rut" placeholder="12345678-9">
        </div>
        <!--Aqui va la dirección del cliente-->
        <div class="form-group">
            <label for="region">Region</label>
            <select formControlName="region">
                <option selected>-- Seleccione Region --</option>
                <option *ngFor="let region of listaRegiones" [value]="region.id">
                    {{region.region}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="provincia">Provincia</label>
            <select formControlName="provincia">
                <option selected>-- Seleccione provincia --</option>
                <option *ngFor="let provincia of listaProvincias" [value]="provincia.id">
                   {{provincia.provincia}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="comuna">Comuna</label>
            <select formControlName="comuna">
                <option selected>-- Seleccione Comuna --</option>
                <option *ngFor="let comuna of listaComunas" [value]="comuna.id">
                    {{comuna.comuna}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="direccion">Calle y numero de residencia</label><br>
            <input type="text" id="direccion" formControlName="direccion" placeholder="Calle falsa #123">
        </div>
        <!--Aqui va la contraseña-->
        <div class="form-group">
            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" formControlName="contraseña">
            <label for="confirmarContraseña">Confirmar Contraseña</label>
            <input type="password" id="confirmarContraseña" formControlName="contraseña">
        </div>
        <div class="form-group boton">
            <!--<a [routerLink]="['/agradecimientos']" routerLinkActive="router-link-active">-->
                <button type="submit" [disabled]="formulario.invalid"> Enviar</button>
            <!--</a>-->
        </div>
    </form>
</div> 



