<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="carrusel" src="./assets/Carrusel1.jpeg">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="carrusel" src="./assets/Carrusel2.jpeg">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="carrusel" src="./assets/Carrusel3.jpeg">
      </div>
    </ng-template>
  </ngb-carousel>


  <!--
      Va debajo del <div class="picsum-imgwrapper">...</div>
      en caso de querer agregar texto en las imagenes
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>-->