
<!----------- Carrusel ----------->
<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="carrusel" src="./assets/Carrusel1.jpeg">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="carrusel" src="./assets/Carrusel2.jpeg">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="carrusel" src="./assets/Carrusel3.jpeg">
      </div>
    </ng-template>
  </ngb-carousel>


  <!--
      Va debajo del <div class="picsum-imgwrapper">...</div>
      en caso de querer agregar texto en las imagenes
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>-->


<!------ Lista de los productos todos mezclados ------>

<ul id=productos>  
    <li *ngFor="let item of Lista" class="cuadricula">
        <img src="{{item.imagen}}" class=imagen>
        <p>{{item.nombre}}</p>
        <p>${{item.precio}}</p>
        <div class="stock">
            <a [routerLink]="['/producto',item.id]" routerLinkActive="router-link-active"><button *ngIf="item.cantidad>0">Detalles</button></a> 
            <span *ngIf="item.cantidad==0" class="me">No disponible</span>
        </div>
    </li>
</ul>