<div class="titulo"><h1>Productos</h1></div>

<ul id=productos>  
    <li *ngFor="let item of productos" class="cuadricula">
        <img src="{{item.imagen}}" class=imagen>
        <p>{{item.nombre}}</p>
        <p>${{item.precio}}</p>
        <div class="stock">
            <a [routerLink]="['/producto',item.id]" routerLinkActive="router-link-active"><button *ngIf="item.cantidad>0">Detalles</button></a> 
            <span *ngIf="item.cantidad==0" class="me">No disponible</span>
        </div>
    </li>
</ul>

