<nav class="header">
    <ul ngbNav #nav="ngbNav" class="nav-tabs" class="menu">
        <li ngbNavItem>
          <a [routerLink]="['/']" routerLinkActive="router-link-active">
            <a ngbNavLink class="estiloLetras">Home</a>
          </a>
        </li> 
        <li ngbNavItem>
          <a ngbNavLink class="estiloLetras">Categorias</a>
          <ng-template ngbNavContent>
            <ul ngbNav #nav="ngbNav" class="nav-tabs" class="categoria">
                <li ngbNavLink class="subcategoria">
                    <a class="tipo">Mujer</a>
                    <ul class="lista">
                      <li><a [routerLink]="['/categoria','1','11']" routerLinkActive="router-link-active" class="link">Poleras</a></li>
                      <li><a [routerLink]="['/categoria','1','12']" routerLinkActive="router-link-active" class="link">Polerones</a></li>
                      <li><a [routerLink]="['/categoria','1','13']" routerLinkActive="router-link-active" class="link">Pantalones</a></li>
                      <li><a [routerLink]="['/categoria','1','14']" routerLinkActive="router-link-active" class="link">Zapatos</a></li>
                      <li><a [routerLink]="['/categoria','1','0']" routerLinkActive="router-link-active" class="link">Ver todo Mujer</a></li>
                    </ul>
                </li>
                <li ngbNavLink class="subcategoria">
                    <a class="tipo">Hombre</a>
                    <ul class="lista">
                      <li><a [routerLink]="['/categoria','2','11']" routerLinkActive="router-link-active" class="link">Poleras</a></li>
                      <li><a [routerLink]="['/categoria','2','12']" routerLinkActive="router-link-active" class="link">Polerones</a></li>
                      <li><a [routerLink]="['/categoria','2','13']" routerLinkActive="router-link-active" class="link">Pantalones</a></li>
                      <li><a [routerLink]="['/categoria','2','14']" routerLinkActive="router-link-active" class="link">Zapatos</a></li>
                      <li><a [routerLink]="['/categoria','2','0']" routerLinkActive="router-link-active" class="link">Ver todo Hombre</a></li>
                    </ul>
                </li>
                <li ngbNavLink class="subcategoria">
                    <a class="tipo">Niñes</a>
                    <ul class="lista">
                      <li><a [routerLink]="['/categoria','3','11']" routerLinkActive="router-link-active" class="link">Poleras</a></li>
                      <li><a [routerLink]="['/categoria','3','12']" routerLinkActive="router-link-active" class="link">Polerones</a></li>
                      <li><a [routerLink]="['/categoria','3','13']" routerLinkActive="router-link-active" class="link">Pantalones</a></li>
                      <li><a [routerLink]="['/categoria','3','14']" routerLinkActive="router-link-active" class="link">Zapatos</a></li>
                      <li><a [routerLink]="['/categoria','3','0']" routerLinkActive="router-link-active" class="link">Ver todo Niñes</a></li>
                    </ul>
                </li>
            </ul>
          </ng-template>
        <!--</li>
        <li ngbNavItem>
            <a ngbNavLink class="estiloLetras">Sale</a>
        </li>-->
        <li ngbNavItem class="centro">
          <a [routerLink]="['/']" routerLinkActive="router-link-active" ><a ngbNavLink class="marca">CROWN</a></a>
        </li>
        <!--Aqui debe ir la barra del buscador-->
        <li ngbNavItem>
          <a [routerLink]="['/sesion']" routerLinkActive="router-link-active"><a ngbNavLink class="estiloLetras">Iniciar sesión</a></a>
        </li>
        <!--Este es el icono del carrito de compras-->
        <li ngbNavItem>
          <a ngbNavLink class="estiloLetras"><i class="fas fa-shopping-cart"></i></a>
        </li>
        <!--Aqui va el registro-->
        <li ngbNavItem>
          <a [routerLink]="['/registro']" routerLinkActive="router-link-active"><a ngbNavLink class="estiloLetras">Registro</a></a>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav">a</div>
</nav>