#header{
    background-color: black;
    //height: 40px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul,ol{
    list-style: none;
}
.menu li a{
    background-color: black;
    color:#fff;
    text-decoration: none;
    font-size: 16px;
    display:block;
}
.menu li a:hover{
    background-color: #F2F2F2;
    color:#F2A663;
}
.menu > li{
    float:left;
}
.menu li ul{
    display:none;
    position:absolute;
    min-width: 10%;
}
.menu li:hover > ul{
    display:block;
}
.menu li ul li{
    position:relative;
}
.menu li ul li ul{
    right:-80%;
    top:0px;
}
.item{
    width:10%;
    align-items: center;
    text-align: center;
}
.centro{
    width: 50%;
}
.categoria{
    position: absolute;
    z-index: 100;
}
.marca{
    color:white;
    text-align: center;
    text-decoration: none;
}
.link{
    color:#F2A663;   
}
//ESTILOS BUSCADOR 
.buscador{
    margin-top: 1%;
    text-align: center;
}

.searchingBox{
    border: 1px solid #969a9d;
    margin-right: 1%;
    border-radius: 10px;
    width: 50%;
}

.buttonStyle{
    background-color: #F2A663;
    color: #F2F2F2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 1px solid #F2A663;
    border-radius: 10px;
}
.buttonStyle a{
    text-decoration: none;
    color:#F2F2F2;
}





