<!--Sin nada-->
<nav id="header">
  <ul ngbNav #nav="ngbNav" class="nav-tabs" class="menu">
    <!--Home-->
    <li ngbNavItem class="item">
      <a ngbNavLink [routerLink]="['/']" routerLinkActive="router-link-active">
        Home
      </a>
    </li>
    <!--Categorias de ropa-->
    <li ngbNavItem class="item">
      <a ngbNavLink>Categorias</a>
      <!--<ng-template ngbNavContent>-->
        <!--Lista de Categorias-->
        <ul ngbNav class="categoria">
          <!--SUBCATEGORIA MUJER-->
          <li>
            <a ngbNavLink>Mujer</a>
            <!--Lista categoria MUJER-->
            <ul>
              <li><a [routerLink]="['/categoria','1','11']" routerLinkActive="router-link-active" class="link">Poleras</a></li>
              <li><a [routerLink]="['/categoria','1','12']" routerLinkActive="router-link-active" class="link">Polerones</a></li>
              <li><a [routerLink]="['/categoria','1','13']" routerLinkActive="router-link-active" class="link">Pantalones</a></li>
              <li><a [routerLink]="['/categoria','1','14']" routerLinkActive="router-link-active" class="link">Zapatos</a></li>
              <li><a [routerLink]="['/categoria','1','0']" routerLinkActive="router-link-active" class="link">Ver todo Mujer</a></li>
            </ul>
          </li>
          <!--SUBCATEGORIA HOMBRE-->
          <li>
            <a ngbNavLink>Hombre</a>
            <!--Lista categoria HOMBRE-->
            <ul>
              <li><a [routerLink]="['/categoria','2','11']" routerLinkActive="router-link-active" class="link">Poleras</a></li>
              <li><a [routerLink]="['/categoria','2','12']" routerLinkActive="router-link-active" class="link">Polerones</a></li>
              <li><a [routerLink]="['/categoria','2','13']" routerLinkActive="router-link-active" class="link">Pantalones</a></li>
              <li><a [routerLink]="['/categoria','2','14']" routerLinkActive="router-link-active" class="link">Zapatos</a></li>
              <li><a [routerLink]="['/categoria','2','0']" routerLinkActive="router-link-active" class="link">Ver todo Hombre</a></li>
            </ul>
          </li>
          <!--SUBCATEGORIA NIÑES-->
          <li>
            <a ngbNavLink>Niñes</a>
            <!--Lista categoria NIÑES-->
            <ul>
              <li><a [routerLink]="['/categoria','3','11']" routerLinkActive="router-link-active" class="link">Poleras</a></li>
              <li><a [routerLink]="['/categoria','3','12']" routerLinkActive="router-link-active" class="link">Polerones</a></li>
              <li><a [routerLink]="['/categoria','3','13']" routerLinkActive="router-link-active" class="link">Pantalones</a></li>
              <li><a [routerLink]="['/categoria','3','14']" routerLinkActive="router-link-active" class="link">Zapatos</a></li>
              <li><a [routerLink]="['/categoria','3','0']" routerLinkActive="router-link-active" class="link">Ver todo Niñes</a></li>
            </ul>
          </li>
        </ul>
      <!--</ng-template>-->
    </li>
    <!--MARCA AL CENTRO-->
    <li ngbNavItem class="centro">
      <a [routerLink]="['/']" routerLinkActive="router-link-active" ><a ngbNavLink class="marca">CROWN</a></a>
    </li>
    <!--INICIAR SESION-->
    <li ngbNavItem class="item">
      <a [routerLink]="['/sesion']" routerLinkActive="router-link-active"><a ngbNavLink>Cuenta</a></a>
    </li>
    <!--REGISTRO-->
    <li ngbNavItem class="item">
      <a [routerLink]="['/registro']" routerLinkActive="router-link-active"><a ngbNavLink>Registro</a></a>
    </li>
     <!--CARRITO DE COMPRAS-->
      <li ngbNavItem class="item"> 
        <a [routerLink]="['/carrito']" routerLinkActive="router-link-active"><a ngbNavLink>Carrito</a></a>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</nav>


<!--Buscador-->

<form class="buscador" [formGroup]="formulario" (submit)="buscarProducto()">
  <input placeholder="Buscar" class="searchingBox" type='text' formControlName="buscar" (keypress)="buscarProducto()">
  <button class="buttonStyle"><a [routerLink]="['/busqueda']" routerLinkActive="router-link-active">Buscar</a></button>
</form>





