.header{
    background-color: black;
    height: 40px;
    width: 100%;
}

.menu{
    width: 100%;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.item{
    width:10%;
    align-items: center;
    text-align: center;
}

.centro{
    width: 50%;
}

.categoria{
    display: inline-flex;
    position: absolute;
    z-index: 100;
}
.tipo{
    text-decoration: none;
    font-weight: bold;
    color:#ee852a;
    font-size:20px;
}
.subcategoria{
    padding-left: 3px; 
    padding-right:3px;
    background-color:#F2F2F2;
    color:#ee852a;
}

.lista{
    list-style: none;
}

.estiloLetras{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.marca{
    height: 86%;
    color:white;
    text-align: center;
    text-decoration: none;
}
.estiloLetras:hover{
    background-color:#F2F2F2;
    color:#F2A663;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.link{
    color:#F2A663;   
}

.buscador{
    margin-top: 1%;
    text-align: center;
}

.searchingBox{
    border: 1px solid #969a9d;
    margin-right: 1%;
    border-radius: 10px;
    width: 50%;
}

.buttonStyle{
    background-color: #F2A663;
    color: #F2F2F2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 1px solid #F2A663;
    border-radius: 10px;
}






/* BUSCADOR BOOTSTRAP 
.buscador{
    width: 50%;
    text-align: center;
}
.rectanguloBuscador{
    border-radius: 10px;
    width: 50%;
    border:1px solid gray;
    margin-top: 3%;
}

.estiloBoton{
    margin-top: 3%;
    background-color: #F2A663;
    color: #F2F2F2;
    border: 1px solid #F2A663;
    border-radius: 10px;
}
*/