.horario{
    width: 100%;
    padding:3%;
}
.encabezado{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#3f3f38;
    padding-bottom: 3%;
}
.ubicacion{
    padding-left: 20%;
    padding-bottom: 3%;
}
.titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#3f3f38;
}
.subtitulo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#565959;
}
.parrafo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#898e8c;
}