<nav class="agradecimiento">
    <h1 class="titulo">¡Gracias por enviarnos tus datos!</h1>
    <h2 class="subtitulo">Nos pondremos en contacto contigo en un máximo de 3 días hábiles</h2>
    <p class="parrafo">Crown será responsable de la Base de Datos y de los datos personales que le sean 
        proporsionados. Con el objetivo de evitar la pérdida, mal uso, alteración, acceso no autorizado 
        y robo de los datos personales o información confidencial facilitados por los clientes, Crown 
        ha adoptado los niveles de seguridad y de protección de datos personales legalmente requeridos.</p>
</nav>



