.agradecimiento{
    width: 100%;
    padding:3%;
    height: 500px;
}
.titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#3f3f38;
}
.subtitulo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#565959;
}
.parrafo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#898e8c;
}