<div class="container mt-5">
<input type="text" id="productos" class="form-control my-2">
<button class="btn btn-info mb-2" id="boton">Buscar</button>
<ul id="resultado">
</ul>
</div>

<script> 
    const formulario= document.querySelector('#productos');
    const buton= document.querySelector('#boton');
    const resultado= document.querySelector('#resultado')

    const filtrar= ()=>{
        const texto= productos.value.toLowerCase();
        for(let producto of productos){
            let nombre = producto.nombre.toLowerCase();
            if(nombre.indexOf(texto) !==-1){
             resultado.innerHTML +=`
             <li>$(producto.nombre) </li>
             `
            }
        }
        if(resultado.innerHTML == ''){
            resultado.innerHTML +=`
             <li>producto no encontrado</li>
             `
        }
    }

    boton.addEventListener('click', filtrar)
    formulario.addEventListener('keyup', filtrar)

    filtrar();
</script>